* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.project_box {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	padding: 10px;
}
.project_box_items {
	display: flex;
	flex-direction: column;

	width: 320px;
	height: 400px;
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
}
img {
	width: 300px;
	height: 200px;
	width: auto;
}
